body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#song-card {
  width: 300px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* I can use "top" because I've set position to relative */
  top: 25vh;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 1.5s;
}

#song-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
  transition: box-shadow 0.3s;
}

#song-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#song-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 40%
  );
}

#song-card-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
}

#song-card-info-artist {
  font-weight: bold;
}

#song-card-info-album {
  font-size: 0.8em;
}

#song-card-info-title {
  font-size: 1.5em;
  margin-top: 8px;
}
